@model interaktiva20_2.Models.DTO.ISearchResultDto

@section MyAssets
{
    <link rel="stylesheet" href="/assets/css/StyleDetails.css?v={random int}">
    <link rel="stylesheet" href="/assets/css/responsive_details.css?v={random int}">
}


@section MyHeader
{
    <header>
        <div class="headerContainer">
            <h1>Cineast Movie Database</h1>
            <p>Home for movie lovers</p>
        </div>
    </header>
}

<main class="content">

    <h1 class="searchHead">Search Result</h1>

    @{
        if(Model.Search != null)
        {
            foreach (var movie in Model.Search)
            {
            <div class="searchedMovie flex">
                <figure>
                    <img class="searchPoster" src="@movie.Poster" />
                </figure>

                <div class="flexItem">
                    <h2>@movie.Title</h2>
                    <p>@movie.Year</p>
                    <p class="actionLink">@Html.ActionLink("To Movie Details", "Index", "MovieDetail", new { imdbid = movie.imdbID })</p>
                </div>
            </div>
            }
        }
        else
        {
            <h1>Sorry, no such movie could be found.</h1>
            <p>Did you spell the title correctly?</p>
        }
        }

</main>

