@model interaktiva20_2.Models.DTO.ISearchResultDto

@section MyHeader
{
    <header>
        <div class="details-headerContainer">
            <h1>Cineast Movie Database</h1>
            <p>Home for movie lovers</p>
        </div>
    </header>
}

<main class="search-result-content">

    <h1>Search Result</h1>
    @{
        if (Model.Search != null)
        {
            foreach (var movie in Model.Search)
            {
            <div class="searchedMovie flex">
                <img class="searchPoster" src="@movie.Poster" />
                <div class="flexitem">
                    <h2>@movie.Title</h2>
                    <p>@movie.Year</p>
                    <p class="actionLink">@Html.ActionLink("To Movie Details", "Index", "MovieDetail", new { imdbid = movie.imdbID })</p>
                </div>
            </div>
            }
        }
        else
        {
            <h1 class="search-error">Sorry, no such movie could be found.</h1>
            <p class="search-error">Did you spell the title correctly?</p>

        }
    }
</main>

