@model interaktiva20_2.Models.DTO.ISearchResultDto

@section MyAssets
{

}


@section MyHeader
{
    <header>
        <div class="headerContainer">
            <h1>Cineast Movie Database</h1>
            <p>Home for movie lovers</p>
        </div>
    </header>
}

<main class="content">
    <p>Search Result</p>

    @foreach (var movie in Model.Search)
    {
        <img src="@movie.Poster" />
    }

    
    
</main>

