.navContainer{grid-area: mainNav;}
header{grid-area: head;}
.searchContainer{grid-area: search;}
main{grid-area: main;}
footer{grid-area: footer;}

@media (max-width: 640px){
    .container{
        display:grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas:
        "mainNav"
        "head"
        "search"
        "main"
        "footer";
    }
}
/*
@media (min-width: 641px) {
    .container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "mainNav mainNav mainNav" 
            "head head head" 
            "search search search" 
            ". main ." 
            "footer footer footer";
    }


}
*/
@media (min-width: 1008px) {

    .container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "mainNav mainNav mainNav mainNav mainNav mainNav mainNav" 
            "head head head head head head head" 
            "search search search search search search search" 
            ". . main main main . ." 
            "footer footer footer footer footer footer footer";
    }

    .headerTextContainer {
        margin-left: 30%;
        top: 30%;
    }

        .headerTextContainer h1 {
            font-size: 5rem;
        }

        .headerTextContainer p {
            font-size: 2.6rem;
        }

    nav {
        position: fixed;
        z-index: 1;
        margin-top: 0;
        padding: 0.6rem 0;
    }

        nav a {
            padding: 0 3rem;
        }

    .topListHeader {
        font-size: 2.3rem;
        margin: 1rem 0 0.5rem 0;
    }

    .ticketImg {
        margin: 0;
    }

    .movieCellContent {
    }

    .moviePlot {
        margin: 2rem 3.5rem 1rem 3.5rem;
    }

    .movieNumber {
        font-size: 3.6rem;
        transform: rotate(-30deg);
        margin-top: 3rem;
        margin-left: 2rem;
    }

    .movieTitle {
        font-size: 3rem;
        margin: 5rem auto 4rem auto;
        font-weight: bold;
    }

    .topFilm .movieCellContent {
        width: 40rem;
    }

    .topFilm .moviePoster {
        margin-top: 4.5rem;
    }

    .movieP {
        font-size: 1.1rem;
        padding-top: 0.5rem;
    }

        .movieP b {
            font-weight: bold;
        }

    .btnLike, .btnDislike {
        margin: 1rem;
    }

    .flexMovies {
        display: flex;
        justify-content: space-around;
    }

    

    .movieList .movieCellContent {
        position: relative;
        left:-1.9rem;
        display:block;
        width:100%;
        height:47rem;
        background-color: #d9dbcbf8;
        background-repeat: no-repeat;
        margin: 1rem 1.92rem 0 1.92rem;
    }

    .movieList .movieTitle {
        font-size: 1.3rem;
        margin: 0;
    }

    .actionLink{padding-bottom:1rem;}

    .movieList .moviePoster {
        height: 470px;
        max-width: 320px;
        overflow: hidden;
    }

    .movieList .hidden{display:none;}

    .movieList .ticketImg {
        display: none;
    }

    .movieList, .flexMovies{position:relative;}

    .movieList .movieNumber {
        font-size: 2rem;
        transform: rotate(-45deg);
        margin-top: 1.1rem;
        margin-left: 0rem;
    }
}