/* || GENERAL || */

body {background: #2e2e2e;}

header h1 {font-family: 'Limelight', cursive;}
header p {font-family: 'Poiret One', cursive;}
p, h2, h3, h4, nav a {font-family: 'Montserrat', Arial, Helvetica, sans-serif;}
header h1, header p{color:#dad7bd; }

header h1, header p {
    text-shadow: -5px -2px 3px #0e0e0e;
}

nav {
    position: fixed;
    z-index: 1;
    margin-top: 0;
    padding: 0.6rem 0;
}

/* Inspiration from: https://www.w3schools.com/howto/howto_js_sticky_header.asp for sticky searchbar */

.content{padding:1rem;}

.sticky {
    position: fixed;
    top: 2rem;
    width: 100%
}

.sticky + .content {
    padding-top: 10rem;
}

/* Search bar CSS heavily inspired by: https://codepen.io/huange/pen/rbqsD */
.searchContainer {
    z-index:1;
    border-top: outset 0.01rem #5b120ec9;
    box-shadow: 0 8px 10px -10px #5B120E;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    padding: 0.3rem 0rem;
    background: #CC1B25;
}

.searchTerm {
    width: 70%;
    margin-left: auto;
    border: 0.188rem solid #850202;
    border-right: none;
    padding: 0.313rem 0.313rem 0.313rem 1.5rem;
    height: 1.25rem;
    border-radius: 0.313rem 0 0 0.313rem;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #111111;
}

.searchButton {
    width: 2.5rem;
    height: 2.25rem;
    margin-right: auto;
    border: 0.06rem solid #850202;
    background: #850202;
    text-align: center;
    color: #fff;
    border-radius: 0 0.3rem 0.3rem 0;
    cursor: pointer;
    font-size: 1.25rem;
}

.searchIcon {
    display: block;
    margin: auto;
}
/* End of search bar CSS */

nav {
    width: 100%;
    background-color: #181818;
    margin-top: -0.2rem;
    padding: 0.6rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
}


nav a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #f0e6dd;
}

/* Style for thumb up and down*/

.btnLike, .btnDislike {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    filter: drop-shadow(4px 4px 4px #00000080);
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
}

.btnLike:disabled, .btnDislike:disabled {
    opacity: 0.3;
    filter: drop-shadow(0px 0px 0px #00000080);
}

.btnLike:hover, .btnDislike:hover {
    filter: drop-shadow(0px 0px 0px #00000080);
    transition-timing-function: ease-in-out;
    background-position-x: 1px;
}

.btnLike:focus, .btnDislike:focus {
    filter: drop-shadow(6px 6px 6px #a5b163);
    outline: none;
}

.btnLike:hover {
    transform-origin: bottom left;
    transform: rotate(-20deg);
}

.btnDislike:hover {
    transform-origin: top right;
    transform: rotate(-20deg);
}

.btnLike {
    background-image: url(/assets/images/thumb-up.png);
}

.btnDislike {
    background-image: url(/assets/images/thumb-down.png);
}

/* MISC */

.error-h1 {
    color: #dad7bd;
    font-family: Limelight;
    font-size: 25.5vw;
    text-align: center;
    filter: drop-shadow(6px 6px 6px #181818);
}

.error-h2 {
    font-size: 1rem;
    text-align: center;
    color: white;
    padding: 2rem;
    background: black;
    line-height: 1.5rem;
}

.error-container {
    background-image: url(/assets/images/error-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin: 3rem;
    padding: 4rem;
}