/* || GENERAL || */

body {
    background: #2e2e2e;
}

.hidden {
    display: none;
}

header h1, .movieNumber {
    font-family: 'Limelight', cursive;
}

header p {
    font-family: 'Poiret One', cursive;
}

p, h2, h3, h4, nav a, .readMore, .movie-details-btn {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header h1, header p {
    color: #dad7bd;
}

header h1, header p {
    text-shadow: -5px -2px 3px #0e0e0e;
}

b {
    font-weight: bold;
}

/*|| NAV ||*/
nav {
    position: fixed;
    z-index: 1;
    margin-top: 0;
    padding: 0.6rem 0;
    top: 0;
}

nav {
    width: 100%;
    background-color: #181818;
    margin-top: -0.2rem;
    padding: 0.6rem;
    text-align: center;
}

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav a {
        font-size: 0.9rem;
        text-decoration: none;
        color: white;
    }
/*|| END NAV ||*/

/*|| SEARCH ||*/
/* Inspiration from: https://www.w3schools.com/howto/howto_js_sticky_header.asp for sticky searchbar */
.content {
    padding: 1rem;
}

.sticky {
    position: fixed;
    top: 2rem;
    width: 100%
}

    .sticky + .content {
        padding-top: 10rem;
    }

/* Search bar CSS heavily inspired by: https://codepen.io/huange/pen/rbqsD */
.searchContainer {
    border-top: outset 0.01rem #5b120ec9;
    box-shadow: 0 8px 10px -10px #5B120E;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    padding: 0.3rem 0rem;
    background: #CC1B25;
}

.searchTerm {
    width: 70%;
    margin-left: auto;
    border: 0.188rem solid #850202;
    border-right: none;
    padding: 0.313rem 0.313rem 0.313rem 1.5rem;
    height: 2.25rem;
    border-radius: 0.313rem 0 0 0.313rem;
    outline: none;
    color: #9DBFAF;
}

    .searchTerm:focus {
        color: #111111;
    }

.searchButton {
    width: 2.5rem;
    height: 2.25rem;
    margin-right: auto;
    border: 0.06rem solid #850202;
    background: #850202;
    text-align: center;
    color: #fff;
    border-radius: 0 0.3rem 0.3rem 0;
    cursor: pointer;
    font-size: 1.25rem;
}

.searchIcon {
    display: block;
    margin: auto;
}
/*|| END SEARCH ||*/

/*|| HEADER ||*/
header h1, header p {
    text-shadow: -5px -2px 3px #0e0e0e;
}

.headerImg {
    width: 100%;
    margin-bottom: -0.2rem;
}

header h1 {
    font-size: 1.6rem;
    margin: 1rem 0.5rem;
}

header p {
    font-size: 1.1rem;
    margin: 1rem;
}

.headerTextContainer {
    position: absolute;
    color: #f0e6dd;
}

.headerTextContainer {
    width: 70%;
    margin: 10vw 0 0 28vw;
}

    .headerTextContainer p {
        margin: 0.5vw;
        font-size: 4vw;
    }

    .headerTextContainer img {
        display: block;
        width: 70%;
    }
/*|| END HEADER ||*/


/* || TOPLISTS || */
.topListHeader {
    font-size: 3rem;
    color: #0e0e0e;
    text-align: center;
    padding: 1rem;
    margin: 2rem 0 1.2rem 0;
    background-color: #fcebcc;
    box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 1);
    transform: rotate(-2deg);
    width: 90%;
    text-align: center;
}

.topList {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 0;
}

.movieContainer {
    width: 300px;
    margin: 1rem;
    padding: 2rem;
    background-color: #d9dbcbf8;
}

.topMovie .movieTitle {
    grid-area: title;
    font-size: 3rem;
}

.topMovie .movieCellText {
    grid-area: text;
    margin-left: 3rem;
}

.topMovie .moviePoster {
    grid-area: poster;
    max-width: 200px;
}

.topMovie {
    display: grid;
    width: 1000px;
    grid-template-columns: auto auto;
    grid-template-areas: "title title" "poster text";
    margin-bottom: 2.2rem;
}

    .topMovie .hidden {
        display: block;
    }

.movieNumber {
    color: #850202;
    text-shadow: 3px 3px 0 #dad7bd;
    position: absolute;
    font-weight: bold;
    font-size: 2.15rem;
    transform: rotate(-27deg);
    margin-top: -2.5rem;
    margin-left: -3rem;
    background-color: #a4a4a4;
    padding: 0.2rem 0.7rem;
    border: solid;
}

.movieTitle {
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    margin: 1.2rem 0rem 1.2rem 0rem;
}

.moviePoster {
    box-shadow: 4px 4px 10px -1px rgba(0, 0, 0, 1);
    width: 100%;
}

.movieCellText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 0rem 1rem 0rem;
}

.topMovie .movieCellText {
    display: inline-block;
}

.movie-cell-p {
    padding-bottom: 0.5rem;
}

.movie-details-btn {
    text-decoration: none;
    border: 0px;
    background-color: white;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
    padding: 10px;
    width: 150px;
    height: auto;
    filter: drop-shadow(4px 4px 4px #00000080);
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s;
    border-radius: 8px;
    font-weight: bold;
}

    .movie-details-btn:hover {
        filter: drop-shadow(0px 0px 0px #00000080);
        width: 160px;
    }

.movie-details-btn, a {
    text-decoration: none;
    color: black;
}

    .movie-details-btn a:visited {
        text-decoration: none;
        color: black;
    }

.topMovie .likeDislikeBtns {
    margin: 1rem 0;
}

.neverRatedList .movieNumber {
    display: none;
}

/* || END TOPLISTS || */
/*---------------------------------------------------------*/
/* || HIDDEN PLOT */
.readMore {
    padding: 0.5rem 0 1rem 0;
    cursor: pointer;
}

.more {
    text-decoration: underline;
    color: #0000ff;
}

.moviePlot span.trimmedText {
    display: none;
}

.readMore .more:before {
    content: 'Read More';
}

.showAll .moviePlot span.moreDots {
    display: none;
}

.showAll .moviePlot span.trimmedText {
    display: inline;
}

.showAll .readMore .more:before {
    content: 'Read Less';
}

/* || END HIDDEN PLOT */
/*---------------------------------------------------------*/
/* || THUMB UP DOWN || */

.btnLike, .btnDislike {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    filter: drop-shadow(4px 4px 4px #00000080);
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
}

.btnLike:disabled, .btnDislike:disabled {
    opacity: 0.3;
    filter: drop-shadow(0px 0px 0px #00000080);
}

.btnLike:hover, .btnDislike:hover {
    filter: drop-shadow(0px 0px 0px #00000080);
    transition-timing-function: ease-in-out;
    background-position-x: 1px;
}

.btnLike:focus, .btnDislike:focus {
    filter: drop-shadow(6px 6px 6px #a5b163);
    outline: none;
}

.btnLike:hover {
    transform-origin: bottom left;
    transform: rotate(-20deg);
}

.btnDislike:hover {
    transform-origin: top right;
    transform: rotate(-20deg);
}

.btnLike {
    background-image: url(/assets/images/thumb-up.png);
    margin-right: 0.7rem;
}

.btnDislike {
    background-image: url(/assets/images/thumb-down.png);
    margin-left: 0.7rem;
}
/* || END THUMB UP DOWN || */
/*---------------------------------------------------------*/
/* || DETAILS PAGE */
.details-headerContainer {
    margin-top: 3rem;
}

.details-content {
    margin: 0 15%;
    padding: 1rem;
    padding-bottom: 3rem;
    background-color: #f7fae7f2;
}

.details-title {
    text-align: center;
    font-size: 2.3rem;
    padding: 1rem 0 1rem 0;
}

.detailInlineInfo {
    text-align: center;
    margin: 1rem 0 2rem 0;
}

.split {
    font-size: 1.6rem;
    color: gray;
}

.details-content .moviePoster {
    max-width: 30vw;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.movieDetails {
    width: 35rem;
    margin: 0 1rem 0 3rem;
}

.details-content h3 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.details-content h4 {
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

.details-content p {
    line-height: 1.2rem;
}

.rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 17rem;
}

/* ||SEARCH RESULT PAGE */
.search-result-buttons {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0.7rem;
}

.search-result-buttons:disabled {
    opacity: 0.3;
    filter: drop-shadow(0px 0px 0px #00000080);
}

.search-result-first-btn { background-image: url(/assets/images/arrow-first.svg);}

.search-result-previous-btn{ background-image: url(/assets/images/arrow-previous.svg);}

.search-result-next-btn{ background-image: url(/assets/images/arrow-next.svg);}

.search-result-last-btn{ background-image: url(/assets/images/arrow-last.svg);}

.search-result-content {
    margin: 0 15%;
    padding: 1rem;
    padding-bottom: 3rem;
    background-color: #f7fae7f2;
}

.search-result-btn-flex{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

#current-page{
    text-align:center;
}

.searchedMovie {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    box-shadow: 0 8px 10px -10px #5b120ec9;
    padding: 1rem;
}

.searchedMovie .movie-details-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

figure {
    padding-bottom: 0.5rem;
}

.searchPoster {
    display: block;
    margin: 1rem 2rem 0 0;
    max-height: 150px;
    width: auto;
}

.search-result-content h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

.flexitem {
    margin: 1rem 0 0 0;
}

.searchedMovie h2 {
    font-weight: bolder;
}

/* MISC */
.error-h1 {
    color: #dad7bd;
    font-family: Limelight;
    font-size: 25.5vw;
    text-align: center;
    filter: drop-shadow(6px 6px 6px #181818);
}

.error-h2 {
    font-size: 1rem;
    text-align: center;
    color: white;
    padding: 2rem;
    background: black;
    line-height: 1.5rem;
}

.error-container {
    background-image: url(/assets/images/error-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin: 3rem;
    padding: 4rem;
}

p.search-error {
    font-size: 1rem;
    text-align: center;
}
/*------------------------------*/
.searchContainer-main {
    position: sticky;
    z-index: 1;
}

.result-list-container {
    margin: 0rem;
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.7);
    opacity: 0.95;
}

#result-list {
    padding-top: 1.5rem;
    text-align: center;
    font-size: large;
}

.suggestions{margin:1rem;}

#results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
    margin: auto;
    top: 12px;
    padding: 2rem;
    padding-top: 0.5rem;
    box-shadow: 1rem;
    border: 1px;
    border-color: black;
}

.movie-auto-container {
    display: inline-flex;
    border-radius: 0.2rem;
    width: 12rem;
    height: 5rem;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.movie-auto-container:hover {
    background-color: #dddfab;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.7);
}

.movie-title, .movie-link {
    font-size: 1rem;
    margin: 1rem;
}