/* || GENERAL || */

body {background: #2e2e2e;}

header h1 {font-family: 'Limelight', cursive;}
header p {font-family: 'Poiret One', cursive;}
p, h2, h3, h4, blockquote, nav a {font-family: 'Montserrat', Arial, Helvetica, sans-serif;}
header h1, header p{color:#f0e6dd; }


/* Inspiration from: https://www.w3schools.com/howto/howto_js_sticky_header.asp for sticky searchbar */

.content{padding:1rem;}

.sticky {
    position: fixed;
    top: 2rem;
    width: 100%
}

.sticky + .content {
    padding-top: 5rem;
}

/* Search bar CSS heavily inspired by: https://codepen.io/huange/pen/rbqsD */
.searchContainer {
    z-index:1;
    border-top: outset 0.01rem #5b120ec9;
    box-shadow: 0 8px 10px -10px #5B120E;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    padding: 0.3rem;
    background: #CC1B25;
}

.searchTerm {
    width: 70%;
    margin-left: auto;
    border: 3px solid #850202;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    text-align: center
}

.searchTerm:focus {
    color: #111111;
}

.searchButton {
    width: 40px;
    height: 36px;
    margin-right: auto;
    border: 1px solid #850202;
    background: #850202;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchIcon {
    display: block;
    margin: auto;
}
/* End of search bar CSS */

nav {
    width: 100%;
    background-color: #181818;
    margin-top: -0.2rem;
    padding: 0.6rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
}


nav a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #f0e6dd;
}
