img{display:block}

.headerContainer {
    background-color: #252525;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

main{
    background-color:#f7fae7f2;
    padding:2rem;
    height:100%;
}

.searchContainer{height:1.2rem;}

header h1 {
    font-size:2rem;
    padding-bottom:0.3rem;
}

b{font-weight:bold}

.searchedMovie {
    height: 5rem;
    box-shadow: 0 8px 10px -10px #5b120ec9;
    margin-top:0.7rem;
}

figure {
    padding-bottom: 0.5rem;
}

.searchPoster{
    max-height:100%;
}

.searchHead {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    padding-bottom: 1rem;
    font-size: 2rem;

}
