<!--Det som ska vara gemensamt på alla sidor-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cineast Movie Database</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css?v={random string}"> <!--la till ?v={random string} för att tvinga browsern att reloada css varje gång-->
    <!--<link rel="stylesheet" href="/assets/css/flickety.css"> Inte säkert att vi ska använda denna-->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">

        @RenderSection("MyHeader")

        <nav>
            <ul>
                <li><a href="home/index#anchorTopRated">Top Rated Movies</a></li>
                <li><a href="home/index#anchorMostPopular">Most Popular Movies</a></li>
                <li><a href="home/index#anchorNeverRated">Never Rated Movies</a></li>
            </ul>
        </nav>

        <!--Search bar from https://codepen.io/huange/pen/rbqsD -->
        <div class="searchWrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"><img></i>
                    <!--Behöver ett förstoringsglas här-->
                </button>
            </div>
        </div>
        <!--End of search bar-->

        
        @RenderBody()


        <footer>

        </footer>
    </div>
</body>

</html>