

@section MyAssets {}

@section MyHeader {}

<div class="error-container">
    <h1 class="error-h1">Error.</h1>
    <h2 class="error-h2">An error occurred while processing your request. Sorry....</h2>
</div>
