@model interaktiva20_2.Models.ViewModels.MovieViewModel


@section MyHeader
{
    <header>
        <div class="headerContainer">
            <div class="headerTextContainer">
                <h1>Cineast Movie Database</h1>
                <p>Home for movie lovers</p>
            </div>
        </div>
    </header>
}

